img {
  width: 10%;
}

.navbar {
  width: 100% !important ;
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav {
  display: flex;
}

.btn-danger {
  display: flex;
  justify-content: flex-end;
}
