p a:hover {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  transition: .3s;
}

.list-unstyled li a :hover {
  color: red;
}

footer {
  background-color: #232323;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
