/* You can add global styles to this file, and also import other style files */




html {
  margin: 0 auto;
  padding: 0;
  font-weight: 800;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: linear-gradient(-45deg, #314935, #4adba3, #042c03, #49b64e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

